.gaoliang,
.gaoliang blockquote {
    color: #24292e;
    word-wrap: break-word;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

.gaoliang a {
    border-bottom: none !important;
    background-color: transparent;
    color: #0366d6 !important;
    text-decoration: none
}

.gaoliang a:hover {
    border-bottom: 1px solid #0366d6 !important
}

.gaoliang a:active,
.gaoliang a:hover {
    outline-width: 0
}

.gaoliang strong {
    font-weight: bolder
}

.gaoliang h1 {
    margin: .67em 0;
    font-size: 2em
}

.gaoliang img {
    border-style: none
}

.gaoliang code,
.gaoliang kbd,
.gaoliang pre {
    font-size: 1em;
    font-family: monospace, monospace
}

.gaoliang hr {
    overflow: visible;
    box-sizing: content-box;
    height: 0
}

.gaoliang input {
    margin: 0;
    font: inherit
}

.gaoliang input {
    overflow: visible
}

.gaoliang [type=checkbox] {
    box-sizing: border-box;
    padding: 0
}

.gaoliang * {
    box-sizing: border-box
}

.gaoliang input {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit
}

.gaoliang hr {
    overflow: hidden;
    margin: 15px 0;
    height: 0;
    border: 0;
    border-bottom: 1px solid #dfe2e5;
    background: 0 0
}

.gaoliang hr::before {
    display: table;
    content: ""
}

.gaoliang hr::after {
    clear: both;
    display: table;
    content: ""
}

.gaoliang table {
    border-collapse: collapse;
    word-break: keep-all;
    border-spacing: 0
}

.gaoliang td,
.gaoliang th {
    padding: 0
}

.gaoliang h1,
.gaoliang h2,
.gaoliang h3,
.gaoliang h4,
.gaoliang h5,
.gaoliang h6 {
    margin-top: 0;
    margin-bottom: 0
}

.gaoliang h1 {
    font-weight: 600;
    font-size: 32px
}

.gaoliang h2 {
    font-weight: 600;
    font-size: 24px
}

.gaoliang h3 {
    font-weight: 600;
    font-size: 20px
}

.gaoliang h4 {
    font-weight: 600;
    font-size: 16px
}

.gaoliang h5 {
    font-weight: 600;
    font-size: 14px
}

.gaoliang h6 {
    font-weight: 600;
    font-size: 12px
}

.gaoliang p {
    margin-top: 0;
    margin-bottom: 10px
}

.gaoliang blockquote {
    margin: 0
}

.gaoliang ol,
.gaoliang ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0
}

.gaoliang ol ol,
.gaoliang ul ol {
    list-style-type: lower-roman
}

.gaoliang ol ol ol,
.gaoliang ol ul ol,
.gaoliang ul ol ol,
.gaoliang ul ul ol {
    list-style-type: lower-alpha
}

.gaoliang dd {
    margin-left: 0
}

.gaoliang code {
    font-size: 14px;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace
}

.gaoliang pre {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace
}

.gaoliang::before {
    display: table;
    content: ""
}

.gaoliang::after {
    clear: both;
    display: table;
    content: ""
}

.gaoliang>:first-child {
    margin-top: 0 !important
}

.gaoliang>:last-child {
    margin-bottom: 0 !important
}

.gaoliang a:not([href]) {
    color: inherit;
    text-decoration: none
}

.gaoliang blockquote,
.gaoliang dl,
.gaoliang ol,
.gaoliang p,
.gaoliang pre,
.gaoliang table,
.gaoliang ul {
    margin-top: 0;
    margin-bottom: 16px
}

.gaoliang hr {
    margin: 24px 0;
    padding: 0;
    height: .25em;
    border: 0;
    background-color: #e1e4e8
}

.gaoliang blockquote {
    padding: 0 1em;
    border-left: .25em solid #dfe2e5;
    color: #6a737d
}

.gaoliang blockquote>:first-child {
    margin-top: 0
}

.gaoliang blockquote>:last-child {
    margin-bottom: 0
}

.gaoliang kbd {
    display: inline-block;
    padding: 3px 5px;
    border: solid 1px #c6cbd1;
    border-radius: 3px;
    background-color: #fafbfc;
    box-shadow: inset 0 -1px 0 #959da5;
    color: #444d56;
    vertical-align: middle;
    font-size: 11px;
    line-height: 10px;
    border-bottom-color: #959da5
}

.gaoliang h1,
.gaoliang h2,
.gaoliang h3,
.gaoliang h4,
.gaoliang h5,
.gaoliang h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25
}

.gaoliang h1 {
    padding-bottom: .3em;
    border-bottom: 1px solid #bbb;
    font-size: 2em
}

.gaoliang h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #bbb;
    font-size: 1.5em
}

.gaoliang h3 {
    font-size: 1.25em
}

.gaoliang h4 {
    font-size: 1em
}

.gaoliang h5 {
    font-size: .875em
}

.gaoliang h6 {
    color: #6a737d;
    font-size: .85em
}

.gaoliang ol,
.gaoliang ul {
    padding-left: 2em
}

.gaoliang ol ol,
.gaoliang ol ul,
.gaoliang ul ol,
.gaoliang ul ul {
    margin-top: 0;
    margin-bottom: 0
}

.gaoliang li {
    word-wrap: break-all
}

.gaoliang li>p {
    margin-top: 16px
}

.gaoliang li+li {
    margin-top: .25em
}

.gaoliang dl {
    padding: 0
}

.gaoliang dl dt {
    margin-top: 16px;
    padding: 0;
    font-weight: 600;
    font-style: italic;
    font-size: 1em
}

.gaoliang dl dd {
    margin-bottom: 16px;
    padding: 0 16px
}

.gaoliang table {
    display: block;
    overflow: auto;
    width: 100%
}

.gaoliang table th {
    font-weight: 600
}

.gaoliang table td,
.gaoliang table th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5
}

.gaoliang table tr {
    border-top: 1px solid #c6cbd1;
    background-color: #fff
}

.gaoliang table tr:nth-child(2n) {
    background-color: #f6f8fa
}

.gaoliang img {
    box-sizing: content-box;
    max-width: 100%;
    background-color: #fff
}

.gaoliang img[align=right] {
    padding-left: 20px
}

.gaoliang img[align=left] {
    padding-right: 20px
}

.gaoliang code {
    margin: 0;
    padding: .2em .4em;
    border-radius: 3px;
    background-color: rgba(27, 31, 35, .05)
}

.gaoliang pre {
    word-wrap: normal
}

.gaoliang pre>code {
    margin: 0;
    padding: 0;
    border: 0;
    background: 0 0;
    white-space: pre;
    font-size: 100%;
    word-break: normal
}

.gaoliang pre code {
    display: inline;
    overflow: visible;
    margin: 0;
    padding: 0;
    max-width: auto;
    border: 0;
    background-color: transparent;
    word-wrap: normal;
    line-height: inherit
}

.gaoliang kbd {
    display: inline-block;
    padding: 3px 5px;
    border: solid 1px #d1d5da;
    border-radius: 3px;
    background-color: #fafbfc;
    box-shadow: inset 0 -1px 0 #c6cbd1;
    color: #444d56;
    vertical-align: middle;
    font: 11px SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    border-bottom-color: #c6cbd1
}

.gaoliang hr {
    border-bottom-color: #bbb
}

.gaoliang li>pre {
    margin-top: 5px
}

/*new*/
.comment-list pre::-webkit-scrollbar-corner,
.pre-div::-webkit-scrollbar-corner {
    background: transparent !important
}

.comment-list pre::-webkit-scrollbar,
.pre-div::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important
}

.comment-list pre::-webkit-scrollbar-thumb,
.pre-div::-webkit-scrollbar-thumb {
    border-radius: 5px !important;
    background-color: #777 !important
}

.comment-list pre::-webkit-scrollbar-track-piece {
    border-radius: 5px;
    background: #282c34 !important
}

.pre-div::-webkit-scrollbar-track-piece {
    background: #21252a !important
}

.comment-list pre::-webkit-scrollbar-thumb:hover,
.pre-div::-webkit-scrollbar-thumb:hover {
    background-color: #888 !important
}

.comment-list pre::-webkit-scrollbar-thumb:active,
.pre-div::-webkit-scrollbar-thumb:active {
    background-color: #999 !important
}

.pre-div {
    width: calc(100% - 40px);
    max-height: calc(100vh - 250px);
    overflow: auto;
    padding: 8px 16px 10px 8px;
    margin-left: 40px;
    background: #21252a
}

.gaoliang pre:before {
    content: " ";
    position: absolute;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fc625d;
    width: 12px;
    height: 12px;
    left: 10px;
    top: 10px;
    -webkit-box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    z-index: 2
}

.gaoliang pre {
    overflow: hidden;
    position: relative;
    background: #161616;
    border-radius: 5px;
    line-height: 1.4;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .4);
    padding: 30px 0 0 0;
    transition: all .2s
}

.btn a {
    color: #fff !important;
    border-bottom: none !important
}

.pre-row {
    user-select: none;
    font-size: 14px;
    color: #a0a0a0;
    text-align: right;
    position: absolute;
    left: 0;
    top: 30px;
    width: 40px;
    max-height: calc(100vh - 250px);
    overflow: hidden;
    padding: 8px 8px 20px 5px;
    background-color: #272c33
}

.comment-list pre {
    border-radius: 5px;
    background-color: #282c34
}

.comment-list .hljs {
    padding: 0
}

.gaoliang img {
    border-radius: 5px;
    padding: 0
}

.btn-copy-code {
    transition: all .3s;
    opacity: 0;
    position: absolute;
    color: #ddd;
    background-color: transparent;
    right: 5px;
    top: 5px;
    font-size: 12px;
    line-height: 12px;
    padding: 3px 5px;
    border: 1px solid;
    border-radius: 4px
}

.btn-copy-code:hover {
    color: #fff
}

pre:hover .btn-copy-code {
    opacity: 1
}